<!doctype html>
<title>Create new order</title>
<h1>Create new order</h1>
<form method=post enctype=multipart/form-data>
    <div>
        <b> Product ID </b>
        <input type=text name=product_name>
    </div>

    <div>
        <b> Initial Stock Count </b>
        <input type=text name=initial_stock_count>
    </div>

    <div>
        <b> Raw Image </b>
        <input type=file name=file>
    </div>

    <br>
    <br>
    
    <div>
        <input type=submit value=Upload>
    </div>
    
</form>